p{
    background-color: aqua;
}
a{
    background-color: rgb(218, 181, 47);
}
div{
    background-color: rgb(182, 119, 160);
}
span{
    background-color: rgb(200, 178, 221);
}
body{
    background-color: rgb(213, 227, 222);
}